* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  padding: 2rem;
}

.scroll-container {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.scroll-box {
  align-items: center;
  background-color: purple;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  height: 300px;
  min-width: 350px;
  max-width: 350px;
  scroll-snap-align: start;
}

.scroll-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.scroll-control {
  background-color: black;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1rem 2rem;
  transition: all 0.2s linear;
}

.scroll-control.is-disabled {
  background-color: darkgray;
  pointer-events: none;
}

.scroll-control:hover {
  background-color: #333;
}
